.DS_Store
.directory

*~
*.swp

pdesolver/do-configure
pdesolver/build/
pdesolver/runs/

vmcsolver/__pycache__/
vmcsolver/*.csv
vmcsolver/*.pdf
vmcsolver/runs/

notes/*.aux
notes/*.bbl
notes/*.bcf
notes/*.blg
notes/*.dvi
notes/*.fdb_latexmk
notes/*.fls
notes/*.log
notes/*.nav
notes/*.out
notes/*.pdf
notes/*.run.xml
notes/*.snm
notes/*.synctex.gz
notes/*.toc
