runs/
!runs/generate_lattice_hamiltonian.py
!runs/complete_4_hamiltonian.yaml
!runs/complete_4_pde_submitjob.sbat
!runs/lattice_2x2_hamiltonian.yaml
!runs/lattice_2x2_pde_submitjob.sbat

pdesolver/do-configure
pdesolver/build/

vmcsolver/__pycache__/
vmcsolver/*.csv
vmcsolver/*.pdf
vmcsolver/runs/

notes/*.aux
notes/*.bbl
notes/*.bcf
notes/*.blg
notes/*.dvi
notes/*.fdb_latexmk
notes/*.fls
notes/*.log
notes/*.nav
notes/*.out
notes/*.pdf
notes/*.run.xml
notes/*.snm
notes/*.synctex.gz
notes/*.toc
